@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(102, 115, 146);
}

/* Style the header. */

.main-header {
    background: white;
    padding: 20px;
}

.main-header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.main-header > h3 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 250px;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 18px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

/* Top or left doesn't work without specifying position first. 
The positioning works by making the scoreboard position relative, that means it's not static
anymore.*/
#player-label {
    position: absolute;
    top: 20px;
    left: -60px;
}

#cpu-label {
    position: absolute;
    top: 20px;
    left: 240px;
}

.instructions {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Asap, sans-serif;
}

/*
.card-display {
    display: inline-block;
    text-align: center;
    padding: 20px;
}
*/

/*
.cards {
    position: absolute;
    left: 200px;
}
*/

.playerCard {
    position: absolute;
    left: 600px;
}

.cpuCard {
    position: absolute;
    left: 1200px;
}